* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;

}

body {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(139, 190, 232, 1.00) 50%, rgba(0, 140, 118, 1.00) 50%);

}

.container {

    height: 850px;
    width: 830px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto;

}

#input {

    height: 100px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(252, 237, 218);
    color: rgb(0, 0, 0);
    padding: 0 10px;
    margin: 15px 0;
    font-size: 0.9em;

}

#input::placeholder {

    color: #bbb;
    font-size: 3em;


}

ul li {
    background: #eee;
    list-style: none;
    height: 50px;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    padding-top: 15px;
}

#icon1 {
    color: rgb(0, 212, 46);
    position: absolute;
    cursor: pointer;
    right: 925px;
}

#icon2 {

    position: absolute;
    cursor: pointer;
    color: gray;
    right: 890px;

}

ul .checked {

    background: rgb(30, 255, 0);
    text-decoration: line-through;
    transition: .25s;
}

ul .trashed {

    background: rgb(255, 0, 0);

}